header{
	height: 40px;
	background: #66B3ff;
	line-height: 40px;
	text-align: center
}
header nav{
	float: right;
	line-height: 40px;
	margin-right: 5%;
}
header nav ul li{
  display: inline;
}
header span{
	float: left;
}
footer{
	height: 40px;
	background: #66B3ff;
	line-height: 40px;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
}
footer ul li{
  display: inline;

}