<header>
    <span class="col-xs-12">个人中心</span>
</header>
<section class="row">
	<img class="col-xs-4" src="app/user/image/me.jpg">
	<div class="col-xs-5">
		<p>{{info.user.user_name}}</p>
		<div>{{info.domitory.name}} {{info.user.phone}}</div>
	</div>
	<a class="col-xs-3" routerLink="person"><img src="" alt="-->"></a>
</section>
<section class="row">
	<p class="row">2016.11</p>
	<div class="row">
		<div class="col-xs-5">
			<ul class="row pull-right">
				<li>月支出：<span>1000</span></li>
				<li>月收入：<span>10</span></li>
			</ul>
		</div>
		<div class="col-xs-4">合计：<span>-900</span></div>
		<a href="" class="col-xs-3"><img alt="-->"></a>
	</div>
</section>
<section class="row course">
	<p>星期三</p>
	<div>
		<ul>
			<li>课程:<span>计算机网络</span></li>
			<li>教师:<span>路人甲</span></li>
		</ul>
		<ul>
			<li>时间:<span>计算机网络</span></li>
			<li>课室:<span>路人甲</span></li>
		</ul>
	</div>
	<div>
		<ul>
			<li>课程:<span>计算机网络</span></li>
			<li>教师:<span>路人甲</span></li>
		</ul>
		<ul>
			<li>时间:<span>计算机网络</span></li>
			<li>课室:<span>路人甲</span></li>
		</ul>
	</div>
	<div>
		<ul>
			<li>课程:<span>计算机网络</span></li>
			<li>教师:<span>路人甲</span></li>
		</ul>
		<ul>
			<li>时间:<span>计算机网络</span></li>
			<li>课室:<span>路人甲</span></li>
		</ul>
	</div>
	<div>
		<ul>
			<li>课程:<span>计算机网络</span></li>
			<li>教师:<span>路人甲</span></li>
		</ul>
		<ul>
			<li>时间:<span>计算机网络</span></li>
			<li>课室:<span>路人甲</span></li>
		</ul>
	</div>
</section>